/* TITLES */

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  padding-bottom: 10px;
}

h2 {
  font-size:1.25rem !important;
  margin: 30px auto !important;
  text-transform: lowercase;
}

h3 {
  font-family:'Raleway', sans-serif;
  font-size: 1.1rem !important;
  margin: 15px 0 20px !important;
  text-transform: uppercase;
}

/* TITLES END */

p, li {
  font-family: "Courier Prime", monospace;
  font-size: 0.95rem;
  line-height: 1.3;
  color: #3f3f40;
}

.trait {
  border-bottom: 1px black solid;
  height: 10px;
  text-align: center;
  margin-bottom : 30px;
}

a {
  font-style: italic;
}
a:hover {
  text-decoration: none!important;
}

/* MINIQUIZZ CINEMA */

$yellow: #ffd400;

.miniquizz .btn-warning, .miniquizz .btn-outline-warning {
  font-family: 'Raleway', sans-serif;
  color:#373760;
  border: 2px solid #ffd400;
  border-radius: 0;
  font-weight: 300;
  text-transform: lowercase;
  background-color: #ffffff;
  width:100%;
}
.miniquizz .btn-warning:hover, .miniquizz .btn-warning:not(:disabled):not(.disabled):active, .miniquizz .btn-warning:not(:disabled):not(.disabled).active, .miniquizz .show > .btn-warning.dropdown-toggle,
.miniquizz .btn-outline-warning:hover, .miniquizz .btn-outline-warning:not(:disabled):not(.disabled):active, .miniquizz .btn-outline-warning:not(:disabled):not(.disabled).active, .miniquizz .show > .btn-outline-warning.dropdown-toggle {
  color:#ffffff;
  background-color: #ffd400;
  border-color: #ffd400;
}
.miniquizz .btn-warning:focus, .miniquizz .btn-warning.focus, .miniquizz .btn-outline-warning:focus, .miniquizz .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.05rem rgba(222, 170, 12, 0.5);
}
.miniquizz .btn-primary {
  background-color: #ffd400 !important;
  border-color: #ffd400 !important;
  border-radius: 0;
}
.miniquizz .btn-primary:hover, .miniquizz .btn-primary:active {
  background-color: #ffd400 !important;
  border-color: #fbd104 !important;
}

@media (max-width: 767px) {
  .miniquizz button, .miniquizz .btn, .miniquizz .btn-secondary, .miniquizz .btn-success, .miniquizz .btn-group, .miniquizz .btn-group-vertical, .miniquizz .btn-warning, .miniquizz .btn-outline-warning {
    font-size:0.8rem;
  }
}

/* MINIQUIZZ CINEMA END */

@media (min-width : 768px) {
  .md-trait-center {
    display         : inline-block;
    justify-content : center;
    background: white;
    p{
      display: inline-block;
    }
  }
  .md-trait {
    border-bottom: 1px black solid;
    height: 10px;
    text-align: center;
  }
}
.underTrait {
  background-color: black;
  color: white;
} 

@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

$font-family-base : 'Courier Prime', monospace;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
